@font-face { 
    font-family: "Omnes"; 
    src: url('../../assets/omnes.woff') format("woff"); 
} 

.artwork-background{
    display: flex;
    background-color: #fff3e6;
    min-height: 100vh;
}

.artwork-container{
    display: flex;
    padding-top: 10vw;
    align-self: flex-start;
    margin: 0 auto;
    font-family: Omnes;
    font-size: 1.3vw;
    color: #5b4e4a;
}

.artwork-title{
    font-size: 2vw;
    font-weight: 500;
    padding-bottom: 1vw;
    text-align: center;
}

.artwork-dims{
    font-style: italic;
    padding-bottom: 1vw;
}

.artwork-words{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 3vw;
    width: 30vw;
    text-align: left;
}

.artwork-image{
    max-width: 55vw; 
    max-height: 70vh;
}

.artwork-image.true{
    display: none;
}

.artwork-animation{
    width: 55vw;
    max-height: 70vh;
}

.artwork-animation.false{
    display: none;
}