@font-face { 
    font-family: "Omnes"; 
    src: url('../../assets/omnes.woff') format("woff"); 
} 

.menu-container{
    display: flex;
    max-width: 30vw;
    max-height: 25vw;
    margin: 5vw;
    margin-top: 3vw;
    margin-bottom: 0;
    flex-direction: column;
    text-align: center;
    color: #5b4e4a;
    align-items: center;
    padding: 0;
}

.artPiece{
    max-width: 22vw;
    max-height: 20vw;
    padding-bottom: 1vw;
}

.artSelect:hover{
    cursor: pointer;
    color: #ffaa9f;  
}

.artTitle{
    font-size: 1.8vw;
}
