@font-face { 
    font-family: "Omnes"; 
    src: url('../../assets/omnes.woff') format("woff"); 
} 

.nav-container{
    position:absolute;
    right: 1vw;
    top: 1.5vw;
}

.nav-link{
    font-family: Omnes;
    font-weight: 600;
    text-decoration: none;
    margin: 1.5vw;
    font-size: 1.7vw;
    letter-spacing: 0.15vw;
    color: #77b1a3; 
}

.nav-link:hover{
    color: #ffaa9f;
}