@font-face { 
    font-family: "Omnes"; 
    src: url('../../assets/omnes.woff') format("woff"); 
} 

.contact-background{
    display: flex;
    flex-direction: column;
    background-color: #fff3e6;
    min-height: 100vh;
}

.contact{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-height: 90vh;
}
.card-container{
    display: flex;
    justify-content: center;
}

.contact-link{
    position:relative;
    font-family: Omnes;
    text-decoration: none;
    color:#fff3e6;
    background-color: #9bcaea;  
    padding: .5vw 3vw;
    margin: 1.25vw;
    font-size: 2vw;
    border-radius:10vw;
    margin-top: 53vh;
}

.contact-link:hover{
    background-color: #ffaa9f;  
}

.card{
    height:40vh;
    margin-top: 35vh;
    position: absolute;
}

.table{
    height: 85vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    object-fit: cover;
    object-position: 0 0;
}