@font-face { 
    font-family: "Omnes"; 
    src: url('../../assets/omnes.woff') format("woff"); 
} 

.contact-background{
    display: flex;
    flex-direction: column;
    background-color: #fff3e6;
    min-height: 100vh;
}
.contact{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-height: 90vh;
}
.card-container{
    display: flex;
    justify-content: center;
}

.contact-link{
    position:relative;
    font-family: Omnes;
    text-decoration: none;
    color:#fff3e6;
    background-color: #9bcaea;  
    padding: 1vh 5vh;
    margin: 3vh;
    font-size: 4vh;
    border-radius:10vh;
    margin-top: 52vh;
}

.contact-link:hover{
    background-color: #ffaa9f;  
}

.card{
    height:40vh;
    margin-top: 35vh;
    position: absolute;
}

.table{
    width: 100%;
    position: absolute;
    bottom: 0;
}