.home-background{
    display: flex;
    background-color: #fff3e6;
    height: 100vh;
}
.home{
    display: flex;
    justify-content: center;
    margin: auto;
}
.cafe{
    height:90vh;
    position: absolute;
    bottom: 0;
}
.chalkboard{
    height:90vh;
    position: absolute;
    bottom: 0;
}